body {
  font-family: "Poppins", sans-serif;
}
h1 {
  font-size: 50px;
}
span{
    color: orange;
}
.header-text{
    color: rgb(126, 121, 121);
}
.buttton-1{
    border: none;
    border-radius: 5px;
    padding: 15px 40px;
    background-image: linear-gradient(to right,lightsalmon,tomato);
    color: white;
    font-weight: 700;
}
